body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.container {
  padding: 20px;
  width: 80vh;
  min-width: 320px;
  margin: 0;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.search-bar {
  width: 30%;
  line-height: 2;
  border: 1px solid rgb(245, 10, 10);
  border-radius: 5px;
  transition: 0.3s;
}

.search-bar:focus {
  border: 3px solid aqua;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.search-bar::placeholder {
  font-weight: 200;
}

.search-bar:focus::placeholder {
  color: transparent;
}
